body{
	background: #e2e2e2!important;
}

.bg-primary{
	background: #009688 !important;
}

.banner{
	background : linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("../img/smartcontact.jpg");
	background-color: #cccccc;
	height:800px;
	background-repeat:no-repeat;
	background-size: cover;
	position:relative;
	color : white;
}
.my-card{
	padding: 20px;
	background: white;
}














